body {
    background: #AAA;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin: 5px 0 15px;
}

img {
    max-width: 100%;
}

#container {
    background: #FFF;
    border: 1px solid #444;
    margin: 25px;
    padding: 15px;
    text-align: center;
}